body {
	background: #1862b0;
	color: white;
}
.btn-primary {
	background: white;
	color: #1862b0;
}
.App {
	max-width: 1280px;
	padding: 30px;
	margin: 0 auto;
}
.App h3 {
	margin: 30px 0;
}
.App .btn-primary {
	margin-right: 10px;
}
.App .form-group {
	margin-bottom: 30px;
}
